default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  pool: 5
  username:
  password:

development:
 <<: *default
 database: whatsupgenius_development

test:
  <<: *default
  database: whatsupgenius_test
